@charset "UTF-8";

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: blueviolet;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.534);
}

section#login > div#imagem{
    background: blueviolet url(../imagens/pexels-saso-ucitelj-19416038.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
    display: block;
}

section#login > div#formulario{
    padding: 10px;
    display: block;
}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p{
    font-size: 0.8em;
}

form > div.campo{
    background-color: chocolate;
    border-radius: 5px;
    margin: 5px 0px;
    padding-bottom: 8px;
}

div.campo > label{
    font-size: 0.6em;
    display: none;
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: rgb(255, 136, 0);
    color: white;
    border: none;
    border-radius: 6px;
    margin-top: 5px;
}

form > input[type=submit]:hover{
    background-color: rgb(226, 109, 0);
    cursor: pointer;
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    background-color: white;
    color: rgb(161, 72, 0);
    border: 1px solid rgb(230, 138, 0);
    border-radius: 5px;
    text-decoration: none;
}

form > a.botao:hover{
    background-color: rgb(255, 196, 86);
}